<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI2_djNwe0wDIOxUBU8N6Y_-y3jQbgQ10</string>
	<key>GCM_SENDER_ID</key>
	<string>665559799304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TumbleTree.app</string>
	<key>PROJECT_ID</key>
	<string>tumbletree</string>
	<key>STORAGE_BUCKET</key>
	<string>tumbletree.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665559799304:ios:a5a766a3a5055e0fae63bd</string>
</dict>
</plist>